<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <style>
    body {
      touch-action: manipulation;
      -ms-touch-action: manipulation;
    }
  </style>
  <title>Bomber</title>
</head>
 
<body>
  <div id="render-target"></div>
</body>
